{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Agree to share data with GOV.UK screen - GOV.UK ID Check app
{% endblock %}

{% block headIcons %}
<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/plugin-assets/govuk-frontend/govuk/assets/images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<figure class="center govuk-!-margin-bottom-6">
  <img src="/public/images/document-checking-app/give-permission.svg" alt="">
  <figcaption class="custom-figcaption"></figcaption>
</figure>

</div>
</div>

{% endblock %}