{% extends "layouts/main.html" %}

{% block header %}
{% include '../../includes/header.html' %}
  {% endblock %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" action="" method="post">

{% set counter = [] %}



<style>

</style>


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "templatePicked",
  fieldset: {
    legend: {
      text: "Will the new role have line management responsibility?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    
    {
      value: "yes~cs-commission",
      text: "Yes",
      hint: {
        text: ""
      }
    },
    {
      value: "no~cs-commission",
      text: "No",
      hint: {
        text: ""
      }
    }
  ]
}) }}





{{ govukButton({
  text: "Continue"
}) }}
</form>
</div>
</div>


{% endblock %}
