{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigationClasses:"nav-right",
    navigation: [
      {
        href: "portal-gds-2",
        text: "My dashboard"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}

<br>
{{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

{% endblock %}

{% block content %}
{% set defaultJob = 'Strategy Advisor' %}
{% set defaultDept = 'DWP' %}

<style>

.nav-right{
  float:right;
}
</style>

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Job alert saved
    </h3>
    <p class="govuk-body"><a class="govuk-notification-banner__link" href="search-results-return">Return to job search results</a><br><br><a class="govuk-notification-banner__link" href="job-alert">Manage your job alerts</a><br><br><a class="govuk-notification-banner__link" href="portal-gds-2">Go to your dashboard</a></p>
  </div>
</div>

<!-- Search box at top  -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-width-container">

        <h1 class="govuk-heading-l">Your job alert</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job role
            </dt>
            {% if data['searchwhat'] %}
            <dd class="govuk-summary-list__value">
              {{ data['searchwhat']}}
            </dd>
            {% else %}
            <dd class="govuk-summary-list__value">
              {{defaultJob}}
            </dd>
            {% endif %}

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="job-alert">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              London
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="job-alert">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How often
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['searchwhat'] %}
                As soon as a <span style="text-transform: capitalize;">{{ data['searchwhat']}}</span> role is posted
              {% else %}
                As soon as a <span style="text-transform: capitalize;">{{defaultJob}}</span> role is posted
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="job-alert">
                Change<span class="govuk-visually-hidden"> customer reference</span>
              </a>
            </dd>
          </div>


        </dl>


      </div>
    </div>

  </div>

{% endblock %}
