{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">A1.1: Multi-role user - switching between roles
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="sign-in" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Sign in / register</a><br>
          <div class="govuk-form-group">
           <div id="event-name-hint" class="govuk-hint">
             FR-006: enter email<br>
             FR-010: enter password<br>
             FR-027: email from previous closed account acceptable
           </div>
         </div>
         </td>
         <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
           <strong class="govuk-tag govuk-tag--purple">
             CANDIDATE
           </strong>
         </td>
         <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
           <strong class="govuk-tag--green">
             Ready
           </strong>
         </td>
         <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
           Tested 5 times. No issues.
        </td>
       </tr>

       <tr class="govuk-table__row">
         <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/reasonable-adjustments/job-ad-full?searchwhat=Strategy%20Advisor&dept=Department%20for%20Education" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Add or edit personal details</a><br>
           <div class="govuk-form-group">
            <div id="event-name-hint" class="govuk-hint">
              FR-014: edit account details<br>
              FR-016: email notification of changes<br>
              FR-017: reset password<br>
            </div>
          </div>
          </td>
          <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
            <strong class="govuk-tag govuk-tag--purple">
              CANDIDATE
            </strong>
          </td>
          <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
            <strong class="govuk-tag--yellow">
              UAT
            </strong>
          </td>
          <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
            Tested 2 times. Further testing needed on edit page as not all users were comfortable with editing without an 'are you sure?' back-out page.
         </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/reasonable-adjustments/job-ad-full?searchwhat=Strategy%20Advisor&dept=Department%20for%20Education" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Close account</a><br>
            <div class="govuk-form-group">
             <div id="event-name-hint" class="govuk-hint">
               FR-023: close account<br>
               FR-024: account close warning<br>
             </div>
           </div>
           </td>
           <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
             <strong class="govuk-tag govuk-tag--purple">
               CANDIDATE
             </strong>
           </td>
           <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
             <strong class="govuk-tag--red">
               No prototype
             </strong>
           </td>
           <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
             No prototype for this page. Need to gather requirements and do desktop research on other site's 'close account' process / issues
          </td>
         </tr>
       </table>
      </div>
    </div>

{% endblock %}
