{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">1.7.3: Data management and auditing
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:15%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="?" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Data Analyst dashboard</a><br>
          <div class="govuk-form-group">
            <div id="event-name-hint" class="govuk-hint">
              FR-302: auto archive data<br>
              FR-303: audit systems transactions<br>
              FR-304: audit data is searchable and intuitive<br>
              FR-305: fields needed for audit can be flagged<br>
              FR-307: data versions can be viewed and reverted<br>
              FR-310: all data is accessible for stakeholder reporting<br>
              FR-311: sensitive data only visible to those with correct access<br>
              FR-312: previous reports are available<br>
              FR-313: auto creation and sending of repeat reports is possible<br>
              FR-314: data can be excluded or filtered prior to exporting<br>
              FR-315: common report types are available as templates<br>
              FR-317: report templates are shareable with colleagues<br>
              FR-318: vacancies, candidates and applications all have unique identifiers<br>
              FR-319: key events / workflows are timestamped<br>
              FR-320: data field properties can be defined and customised<br>
              FR-321: service metrics are easily available to view<br>
              FR-322: create customisable dashboards<br>
              FR-323: filter data prior to viewing<br>
              FR-324: data set access is seamless<br>
              FR-325: report generation does not block further user action<br>
              FR-326: internal user statistics can be audited and reported<br>
              FR-327: archived data is accessible to analyst with sufficient permissions
            </div>
          </div>
        </td>
        <td class="govuk-table__cell filterDiv candidates show">
          <strong class="govuk-tag govuk-tag--red">

          </strong>
        </td>
        <td class="govuk-table__cell filterDiv candidates show"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="?" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">System Admin dashboard</a><br>
          <div class="govuk-form-group">
            <div id="event-name-hint" class="govuk-hint">
              FR-306: System admin can control access to audit logs<br>
              FR-309: CRUD rights for users can be accessed by System admin
            </div>
          </div>
        </td>
        <td class="govuk-table__cell filterDiv candidates show">
          <strong class="govuk-tag govuk-tag--red">

          </strong>
        </td>
        <td class="govuk-table__cell filterDiv candidates show"></td>
      </tr>
     </table>
    </div>
  </div>

{% endblock %}
