{% extends "layouts/main.html" %}

{% block pageTitle %}
Continue to prove your identity - GOV.UK One Login
{% endblock %}

{% block header %}
{% include "/includes/govuk-one-login-header.njk" %}
{% endblock %}

{% block beforeContent %}
{% include "/includes/phase-banner.njk" %}
 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="/url/of/next/page" method="post">

      <h1 class="govuk-heading-l">
        Continue to prove your identity with GOV.UK One Login

      </h1>

   
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
