{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "../../includes/header-home.html" %}
{% else %}
{% include "../../includes/header-home.html" %}
{% endif %}

{% endblock %}

{% block content %}
<form class="form" action="search-results" method="post">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">Civil Service job search</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-6">Find jobs in the Civil Service and central government organisations</p>

    <main class="govuk-main-wrapper" style="background:#DEE0E2; padding-top:0px;padding-bottom:0px; padding-right:0px;padding-left:0px">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters" style="min-height:150px;max-height:160px">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body-m govuk-!-margin-top-3 govuk-!-margin-bottom-2"><strong>What</strong></p>
            {{ govukInput({
              label: {
                text: 'Enter job title, skill or keywords'
              },
              id: "searchwhat",
              name: "searchwhat",
              value: data['searchwhat'],
              classes: "govuk-input--width-25",
              autocomplete: "search-term-input"
            }) }}
          </div>
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body-m govuk-!-margin-top-3 govuk-!-margin-bottom-2"><strong>Where</strong></p>
            {{ govukInput({
              label: {
                text: 'Enter a postcode, town or region'
              },
              id: "searchwhere",
              name: "searchwhere",
              value: data['searchwhere'],
              classes: "govuk-input--width-25",
              autocomplete: "location-search-input"
            }) }}
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-3"  style="position:relative;min-height:150px;max-height:160px">


          <div class="govuk-grid-column-full">
            <button class="govuk-button" style="max-width:92%;min-width:70%; margin-top:80px;margin-bottom:20px" data-module="govuk-button">Search</button>
              <a href="search-results" class="govuk-link govuk-link--no-visited-state" style="text-align:right;font-size:19px;color:#005ea5">Advanced search</a>
          </div>
        </div>

      </main>
    </div>



  </form><br><br>

<a href="https://www.civil-service-careers.gov.uk/" class="govuk-link govuk-link--no-visited-state" target="_blank" style="font-size:19px">Discover careers within the Civil Service</a><br><br><br><br>


  {% endblock %}
