{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">1.1.3: Internal candidate account management
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:15%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="/../_accounts/candidate-dashboard" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Identify as Civil Servant (CS)</a><br>
          <div class="govuk-form-group">
           <div id="event-name-hint" class="govuk-hint">
             FR-009: advise that candidate is a CS<br>
             FR-011: enter CS dept that candidate works for
           </div>
         </div>
         </td>

         <td class="govuk-table__cell filterDiv candidates show">
          <strong class="govuk-tag govuk-tag--yellow">
            More design / testing needed
          </strong>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">None of the elements needed for these ACs have been designed / tested, except for displaying the 'personal details' mentioned in FR-009</td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell filterDiv vh show filterDiv vh show" style="font-size:1.2em">Periodic re-verification<br>
           <div class="govuk-form-group">
            <div id="event-name-hint" class="govuk-hint">
              FR-012: re-verify CS status<br>
            </div>
          </div>
          </td>
          <td class="govuk-table__cell filterDiv candidates show">
            <strong class="govuk-tag govuk-tag--red">
              No prototype
            </strong>
          </td>
          <td class="govuk-table__cell filterDiv candidates show"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell filterDiv vh show filterDiv vh show"style="font-size:1.2em">Confirm CS status<br>
            <div class="govuk-form-group">
             <div id="event-name-hint" class="govuk-hint">
               FR-013: Manager confirms CS status<br>
             </div>
           </div>
           </td>
           <td class="govuk-table__cell filterDiv candidates show">
            <strong class="govuk-tag govuk-tag--red">
              No prototype
            </strong>
           </td>
           <td class="govuk-table__cell filterDiv candidates show"></td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell filterDiv vh show filterDiv vh show" style="font-size:1.2em">CS status expiring<br>
             <div class="govuk-form-group">
              <div id="event-name-hint" class="govuk-hint">
                FR-028: Warning that CS status is expiring<br>
              </div>
            </div>
            </td>
            <td class="govuk-table__cell filterDiv candidates show">
              <strong class="govuk-tag govuk-tag--red">
                No prototype
              </strong>
            </td>
            <td class="govuk-table__cell filterDiv candidates show"></td>
          </tr>

       </table>
      </div>
    </div>

{% endblock %}
