{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">1.1.4: Advert management
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:15%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show" style="font-size:1.2em">Vacancy Holder (VH) dashboard<br>
          <div class="govuk-form-group">
           <div id="event-name-hint" class="govuk-hint">
             FR-038: unpublish campaign<br>
             FR-039: edit campaign<br>
             FR-042: reopen campaign after closing date<br>
             FR-043: extend campaign dates
           </div>
         </div>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
          <strong class="govuk-tag govuk-tag--red">
            No prototype
          </strong>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
          None of the elements needed for these ACs have been designed / tested, except for <a href="../../_accounts/vh-dashboard" target="_blank">this basic VH dashboard</a>
         </td>
       </tr>
     </table>
    </div>
  </div>

{% endblock %}
