{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">1.2.1: Admin options
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:15%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="?" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">System Admin dashboard</a><br>
          <div class="govuk-form-group">
           <div id="event-name-hint" class="govuk-hint">
             FR-046: bulk upload to create VH accounts<br>
             FR-047: auto comms to candidates<br>
             FR-048: bulk edit user accounts<br>
             FR-049: reset user passwords<br>
             FR-050: edit candidate details<br>
             FR-051: close candidate account<br>
             FR-052: access candidate account<br>
             FR-054: amend standard page info<br>
             FR-056: add, edit, delete dept info<br>
             FR-057: manage dept relations (shared campaigns)
           </div>
         </div>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
           <strong class="govuk-tag govuk-tag--red">

           </strong>
         </td>
         <td class="govuk-table__cell filterDiv candidates show"></td>
       </tr>
     </table>
    </div>
  </div>

{% endblock %}
