{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">1.4.3: Marketing the advert (Candidate)
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:15%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="../../attraction/search-results" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Job search results page</a><br>
          <div class="govuk-form-group">
           <div id="event-name-hint" class="govuk-hint">
             FR-110: Internal candidate can see internal and external jobs on same page<br>
             FR-112: no log in needed to view external jobs<br>
             FR-116: save job ad<br>
             FR-117: candidate can set up email job alerts
           </div>
         </div>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
          <strong class="govuk-tag govuk-tag--yellow">
            More design / testing needed
          </strong>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
          Limited design for saving job alerts (limited criteria options, unknown frequency options etc). No design for managing job alerts once created. 
         </td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell filterDiv vh show filterDiv vh show" style="font-size:1.2em">External jobs boards / search engines<br>
           <div class="govuk-form-group">
            <div id="event-name-hint" class="govuk-hint">
              FR-111: Internal only jobs are not displayed outside of CS Jobs<br>
            </div>
          </div>
          </td>
          <td class="govuk-table__cell filterDiv candidates show">
            <strong class="govuk-tag govuk-tag--red">
              No prototype
            </strong>
          </td>
          <td class="govuk-table__cell filterDiv candidates show"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="../../attraction/job-ad" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Job ad</a><br>
            <div class="govuk-form-group">
             <div id="event-name-hint" class="govuk-hint">
               FR-114: consistent style / layout to job ad<br>
               FR-116: save job ad<br>
               FR-118: downloads / images / video etc available in job ad
             </div>
           </div>
           </td>
           <td class="govuk-table__cell filterDiv candidates show">
            <strong class="govuk-tag govuk-tag--yellow">
              More design / testing needed
            </strong>
           </td>
           <td class="govuk-table__cell filterDiv candidates show">
            Design does not include image / docs for downloading, so untested.
           </td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="../../_accounts/candidate-dashboard" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate dashboard</a><br>
             <div class="govuk-form-group">
              <div id="event-name-hint" class="govuk-hint">
                FR-117: candidate can set up email job alerts
              </div>
            </div>
            </td>
            <td class="govuk-table__cell filterDiv candidates show">
              <strong class="govuk-tag govuk-tag--yellow">
                More design / testing needed
              </strong>
            </td>
            <td class="govuk-table__cell filterDiv candidates show">
              Job alert panel has been added to dashboard design, but not built out any further
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell filterDiv vh show filterDiv vh show" style="font-size:1.2em">Search engine results<br>
              <div class="govuk-form-group">
               <div id="event-name-hint" class="govuk-hint">
                 FR-119: CS jobs can be found using search engines
               </div>
             </div>
             </td>
             <td class="govuk-table__cell filterDiv candidates show">
              <strong class="govuk-tag govuk-tag--red">
                No prototype
              </strong>
             </td>
             <td class="govuk-table__cell filterDiv candidates show"></td>
           </tr>
     </table>
    </div>
  </div>

{% endblock %}
