{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">1.4.4: Create a vacancy
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:15%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="../../_attraction/create-a-vacancy/vh-dashboard" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Create a vacancy journey</a><br>
          <div class="govuk-form-group">
           <div id="event-name-hint" class="govuk-hint">
             FR-007: VH can define essential info about the job<br>
             FR-137: standard dept info is prepopulated<br>
             FR-146: only advert-only fields displayed to VH<br>
             FR-143: prepopulated info is editable<br>
             FR-150: candidate-visible fields are highlighted to VH<br>
             FR-151: select one or more locations from existing list<br>
             FR-153: date and time of publishing can be set by VH<br>
             FR-157: VH can preview job ad before publishing<br>
             FR-160: more than one location can be set for a vacancy<br>
             FR-161: specify closing date
           </div>
         </div>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
           <strong class="govuk-tag govuk-tag--yellow">
            More design / testing needed
           </strong>
         </td>
         <td class="govuk-table__cell filterDiv candidates show"></td>
       </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="../../_attraction/task-list/task-list-new-campaign"  target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Task list</a><br>
            <div class="govuk-form-group">
             <div id="event-name-hint" class="govuk-hint">
               FR-145: VH can see what tasks are outstanding<br>
               FR-149: ability to save and return during vacancy creation
             </div>
           </div>
           </td>
           <td class="govuk-table__cell filterDiv candidates show">
             <strong class="govuk-tag govuk-tag--yellow">
              More design / testing needed
             </strong>
           </td>
           <td class="govuk-table__cell filterDiv candidates show">
            The task list shown is for a new campaign starting from scratch. Two other task lists have been designed, for users who choose to either <a href="../../_attraction/task-list/task-list-copy-ad" target="_blank" class="govuk-link govuk-link--no-visited-state">copy an existing campaign</a> or to <a href="../../_attraction/task-list/task-list-template"  target="_blank" class="govuk-link govuk-link--no-visited-state">use a campaign template</a><br><br>Order of task list still to be decided, based on further research into 'create a vacancy' journey, specific needs for other journeys such as bulk, pre-sift etc
           </td>
         </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell filterDiv vh show filterDiv vh show" style="font-size:1.2em">Vacancy is published<br>
              <div class="govuk-form-group">
               <div id="event-name-hint" class="govuk-hint">
                 FR-153: vacancy is quickly published on CS Jobs and 3rd party boards<br>
                 FR-156: job appears on 3rd party boards
               </div>
             </div>
             </td>
             <td class="govuk-table__cell filterDiv candidates show">
               <strong class="govuk-tag govuk-tag--red">
                No prototype
               </strong>
             </td>
             <td class="govuk-table__cell filterDiv candidates show"></td>
           </tr>

     </table>
    </div>
  </div>

{% endblock %}
