{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}<br><br>

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div class="govuk-grid-row">
  <h2 class="govuk-heading-l">1.4.1: Search for a job
  </h2>
  <br><br>

  <div class="container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-40">Page</th>
        <th scope="col" class="govuk-table__header" style="width:15%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:35%">Notes</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="../../_attraction/job-search" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Main search page</a><br>
          <div class="govuk-form-group">
           <div id="event-name-hint" class="govuk-hint">
             FR-090: use keyword(s) to search<br>
             FR-091: use location (postcode / region / town) to search<br>
             FR-100: use vacancy reference to search<br>
             FR-101: use type of role to search<br>
           </div>
         </div>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
          <strong class="govuk-tag govuk-tag--yellow">
            More design / testing needed
          </strong>
         </td>
         <td class="govuk-table__cell filterDiv candidates show">
          No specific design / testing has been done on an updated search page.
         </td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="../../_attraction/search-results" class="govuk-link govuk-link--no-visited-state" target="_blank" style="font-size:1.2em">Search results</a><br>
           <div class="govuk-form-group">
            <div id="event-name-hint" class="govuk-hint">
              FR-090: use keyword(s) to search<br>
              FR-091: use location (postcode / region / town) to search<br>
              FR-092: use proximity to a location to filter results<br>
              FR-093: use salary range to filter results<br>
              FR-094: use job grade to filter results<br>
              FR-095: use employer / dept to filter results<br>
              FR-096: use working pattern to filter results<br>
              FR-097: use contract type to filter results<br>
              FR-098: use overseas jobs to filter results<br>
              FR-099: use multiple criteria to filter results<br>
              FR-100: use vacancy reference to search<br>
              FR-101: use type of role to search<br>
            </div>
          </div>
          </td>
          <td class="govuk-table__cell filterDiv candidates show">
            <strong class="govuk-tag govuk-tag--yellow">
              More design / testing needed
            </strong>
          </td>
          <td class="govuk-table__cell filterDiv candidates show">
            Little specific design / testing has been done on an updated search page. Some aspects of the existing page have been redesigned / tested, such as an improved 'Save ad' button.
          </td>
        </tr>
     </table>
    </div>
  </div>

{% endblock %}
