{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Return to service - GOV.UK One Login
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="3;url=/csu71/ad-only/jao-results" />
        
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Returning you to Civil Service Jobs
      </h1>

      <div class="hods-loading-spinner">
        <div
          class="hods-loading-spinner__spinner"
          aria-live="polite"
          role="status"
        ></div>
        <div class="hods-loading-spinner__content">
          <p>Please wait</p>
        </div>
      </div>

    </div>
  </div>

</main>

{% endblock %}


{% block footer %}

{% endblock %}