{% extends "layouts/main.html" %}

{% block pageTitle %}
Activity history - GOV.UK One Login
{% endblock %}

{% block header %}

{% include "/includes/govuk-one-login-home-header.njk" %}

{% include "/includes/govuk-primary-nav--your-security.njk" %}

{% endblock %}

{% block beforeContent %}
{% include "/includes/phase-banner.njk" %}
 
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
<h1 class="govuk-heading-xl" id="header">You’ve already  reported this activity</h1>

<p class="govuk-body">You reported this on [day month year].</p>

<p class="govuk-body">The report number is <b>6814</b>.</p>

  


  </div>
</div>


{% endblock %}
