{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }

</style>

<div id="scroll-here"></div>
<a id="back-to-top" href="#scroll-here">
  <img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAngle Up%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%23202020' stroke-miterlimit='10' stroke-width='2' d='M20 40l11.994-14L44 40' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E" alt="Angle Up" />
</a>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
  $(function(){
    //Function To Add Class
    function showBackToTop(){
      $('#back-to-top').addClass('show-btt');
    }

    //Function To Add Class
    function hideBackToTop(){
      $('#back-to-top').removeClass('show-btt');
    }

    //Check Scroll and Add Class
    function checkScrollPos(){
      if ($(this).scrollTop() >= 200) { //if scroll position is lower than 700px from the top of the screen
        showBackToTop();
      } else {
        hideBackToTop()
      }
    }
    // tell the browser to run the "checkScrollPos()" function just above when the user scrolls
    $(window).on('scroll', function(){
      checkScrollPos();
    });
    //Check the scroll position once when the page loads
    checkScrollPos();
  })
</script>
<style>
  html {
  scroll-behavior:smooth
}
#back-to-top.show-btt {
    bottom: 0;
    opacity: 1;
    transition: all .5s ease;
}

#back-to-top {
    height: 75px;
    width: 75px;
    position: fixed;
    right: 0;
    z-index: 99;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #ccc;
    margin: 17px;
    background: gray;
    bottom: -150px;
    opacity: 0;
    transition: all .5s ease;
    margin-right:300px;
}

.filterDiv {
  display: none;
}

.show {
  display:table-cell;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.govuk-tag{
  text-transform: capitalize;
}
</style>









<div class="govuk-grid-row">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#rel1">
            Release 1
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#rel2">
            Release 2
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#rel3">
            Release 3
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#rel4">
            Release 4
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#full-journey">
            Full journey
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#optional">
            Prototype - optional journeys, alternatives etc
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#user-journeys">
            User journeys
          </a>
        </li>
      </ul>




<!--  ----------------------------------------------------------->




      <div class="govuk-tabs__panel" id="rel1" style="background-color:#ffffff;">
        <h2 class="govuk-heading-xl" style="margin-bottom:10px">Release 1</h2>

        <a class="govuk-link govuk-link--no-visited-state" href="https://docs.google.com/spreadsheets/d/1NaiHlHp8ivFVdBwopAZDcxa8MqOXOOqI97iLw5kPeOo/edit?gid=0#gid=0" target="_blank">See Acceptance Criteria spreadsheet</a><br><br><br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">

            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#vacancy-holder">Vacancy Holder</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#candidate">Candidate</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#admins">System / dept admins</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#analyst">Analyst</a>
              </li>
            </ul>
          </div>
          
        </div><br>

        <form action="javascript:void();" onsubmit="if(this.t1.value!='')parent.findString(this.t1.value);return(false);">

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-10" type="text" id="t1" name="t1">
              <button type="submit" class="govuk-button" data-module="govuk-button" name="b1" style="margin:0px 0px 10px 10px">Search this page
              </button>
              <div id="event-name-hint" class="govuk-hint">
                This will search for whatever text you enter on this page e.g. "006" or "advert"
              </div>
          </div>
        </form>

        <script>
                  var TRange=null;

function findString (str) {
 if (parseInt(navigator.appVersion)<4) return;
 var strFound;
 if (window.find) {

  // CODE FOR BROWSERS THAT SUPPORT window.find

  strFound=self.find(str);
  if (!strFound) {
   strFound=self.find(str,0,1);
   while (self.find(str,0,1)) continue;
  }
 }
 else if (navigator.appName.indexOf("Microsoft")!=-1) {

  // EXPLORER-SPECIFIC CODE

  if (TRange!=null) {
   TRange.collapse(false);
   strFound=TRange.findText(str);
   if (strFound) TRange.select();
  }
  if (TRange==null || strFound==0) {
   TRange=self.document.body.createTextRange();
   strFound=TRange.findText(str);
   if (strFound) TRange.select();
  }
 }
 else if (navigator.appName=="Opera") {
  alert ("Opera browsers not supported, sorry...")
  return;
 }
 if (!strFound) alert ("String '"+str+"' not found!")
 return;
}
        </script>

        <br>



     



<!-- Vacancy Holder -->
<div class="container">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m" id="vacancy-holder">Vacancy Holder</caption>
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
     <th scope="col" class="govuk-table__header" style="width:5%">ID</th>
       <th scope="col" class="govuk-table__header" style="width:30%">Activity</th>
       <th scope="col" class="govuk-table__header">ACs</th>
     </tr>
   </thead>
   <tbody class="govuk-table__body">
     <tr class="govuk-table__row">
       <td class="govuk-table__cell filterDiv vh show filterDiv recruiters show">1.1.1<br>
      </td>
       <td class="govuk-table__cell filterDiv vh show filterDiv recruiters show"><a class="govuk-link govuk-link--no-visited-state" href="rel1/landing-page/1-1-1-landing">Account access</a><br>
      </td>
      
       <td class="govuk-table__cell filterDiv vh show filterDiv recruiters show">
           FR-364, FR-365
       </td>
     </tr>
     <tr class="govuk-table__row">
       <td class="govuk-table__cell filterDiv candidates show filterDiv candidates show">1.1.2<br>
      </td>
      <td class="govuk-table__cell filterDiv candidates show filterDiv candidates show"><a class="govuk-link govuk-link--no-visited-state" href="rel1/landing-page/1-1-2-landing">Account management</a><br>
     </td>
       <td class="govuk-table__cell filterDiv candidates show">
           FR-001
       </td>
     </tr>
     <tr class="govuk-table__row">
       <td class="govuk-table__cell filterDiv candidates show">1.1.3<br>
      </td>
      <td class="govuk-table__cell filterDiv candidates show"><a class="govuk-link govuk-link--no-visited-state" href="" >Account support</a><br>
     </td>
      
       <td class="govuk-table__cell filterDiv candidates show">
            
       </td>
     </tr>
     <tr class="govuk-table__row">
       <td class="govuk-table__cell filterDiv vh show">1.1.4<br>
      </td>
      <td class="govuk-table__cell filterDiv vh show"><a class="govuk-link govuk-link--no-visited-state" href="rel1/landing-page/1-1-4-landing">Create a vacancy</a><br>
     </td>
      
       <td class="govuk-table__cell filterDiv vh show">
           FR-007, FR-115, FR-120, FR-121, FR-137, FR-143, FR-145, FR-146, FR-149, FR-150, FR-151, FR-153, FR-156, FR-157, FR-160, FR-161, FR-173, FR-341, FR-360, FR-363
       </td>
     </tr>
     <tr class="govuk-table__row">
       <td class="govuk-table__cell filterDiv admins show">1.1.5<br>
      </td>
      <td class="govuk-table__cell filterDiv admins show"><a class="govuk-link govuk-link--no-visited-state" href="_vacancy-holder/1-1-5-manage-vacancies">Manage vacancies</a><br>
     </td>
      
       <td class="govuk-table__cell filterDiv admins show">
           FR-038, FR-039, FR-042, FR-043, FR-109, FR-165
       </td>
     </tr>
    </tbody>
  </table>
</div>




<div class="container">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m" id="candidate">Candidate</caption>
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
     <th scope="col" class="govuk-table__header" style="width:5%">ID</th>
       <th scope="col" class="govuk-table__header" style="width:30%">Activity</th>
       <th scope="col" class="govuk-table__header">ACs</th>
     </tr>
   </thead>
   <tbody class="govuk-table__body">
     <tr class="govuk-table__row">     
     </tr>
    </tbody>
  </table>
</div>




<!-- Vacancy Holder -->
<div class="container">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m" id="admins">System / Dept admins</caption>
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
     <th scope="col" class="govuk-table__header" style="width:5%">ID</th>
       <th scope="col" class="govuk-table__header" style="width:30%">Activity</th>
       <th scope="col" class="govuk-table__header">ACs</th>
     </tr>
   </thead>
   <tbody class="govuk-table__body">
     <tr class="govuk-table__row">
     </tr>
    </tbody>
  </table>
</div>



<!-- Vacancy Holder -->
<div class="container">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m" id="analyst">Analyst</caption>
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
     <th scope="col" class="govuk-table__header" style="width:5%">ID</th>
       <th scope="col" class="govuk-table__header" style="width:30%">Activity</th>
       <th scope="col" class="govuk-table__header">ACs</th>
     </tr>
   </thead>
   <tbody class="govuk-table__body">
     <tr class="govuk-table__row">
       
     </tr>
    </tbody>
  </table>
</div>


</div>




<!--  ----------------------------------------------------------->





<div class="govuk-tabs__panel" id="optional" style="background-color:#ffffff;">
  <h2 class="govuk-heading-l">Optional journeys, alternative screens etc</h2>
  <br><br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          (1) <a class="govuk-link govuk-link--no-visited-state" href="#ra-candidate-entry">Reasonable adjustments - candidate entry</a>
        </li>
        <li>
          (2) <a class="govuk-link govuk-link--no-visited-state" href="#ra-rast-mgmt">Reasonable adjustments - RAST case management</a>
        </li>
        <li>
          (3) <a class="govuk-link govuk-link--no-visited-state" href="#candidate-portal">Candidate portal - variations</a>
        </li>
        <li>
          (4) <a class="govuk-link govuk-link--no-visited-state" href="#bulk-recruitment">Bulk recruitment</a>
        </li>
        <li>
          (5) <a class="govuk-link govuk-link--no-visited-state" href="#ad-only-jao">Advert only / JAO</a>
        </li>

      </ul>
    </div>

  </div><br><br><br>





<div class="container">
<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m" id="ra-candidate-entry">(1) Reasonable adjustments - candidate entry</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header column-width-40">Event</th>
<th scope="col" class="govuk-table__header" style="width:17%">Who</th>
<th scope="col" class="govuk-table__header">Status</th>
<th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
</tr>
</thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
<td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/reasonable-adjustments/job-ad-full?searchwhat=Strategy%20Advisor&dept=Department%20for%20Education" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">V2 - RA option appears on side of application tasklist</a><br>
 <details class="govuk-details" data-module="govuk-details">
   <summary class="govuk-details__summary" style="color:#5d6062">
     <span class="govuk-details__summary-text" style="font-size:0.9em">
       Notes
     </span>
   </summary>
   <div class="govuk-details__text">
     See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#reasonable-adjustments" target="_blank">design notes
     </div>
   </details><br>
  
 </td>


 <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
   <strong class="govuk-tag govuk-tag--purple">
     CANDIDATE
   </strong>
 </td>
 <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
   <strong class="govuk-tag">
     TESTED
   </strong>
 </td>
 <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
   See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#reasonable-adjustments" target="_blank">'What we found'</td>
 </tr>
 <tr class="govuk-table__row">
 <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/previous-versions/reasonable-adjustments-v1/job-ad-full?searchwhat=Strategy%20Advisor&dept=Department%20for%20Education" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">V1 - RA option is a task within the application tasklist</a><br>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary" style="color:#5d6062">
      <span class="govuk-details__summary-text" style="font-size:0.9em">
        Notes
      </span>
    </summary>
    <div class="govuk-details__text">
      See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#reasonable-adjustments" target="_blank">design notes
      </div>
    </details><br>
   
  </td>


  <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
    <strong class="govuk-tag govuk-tag--purple">
      CANDIDATE
    </strong>
  </td>
  <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
    <strong class="govuk-tag">
      TESTED
    </strong>
  </td>
  <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
    See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#reasonable-adjustments" target="_blank">'What we found'</td>
  </tr>
 </table>
 </div>

 <div class="container">
 <table class="govuk-table">
 <caption class="govuk-table__caption govuk-table__caption--m" id="ra-rast-mgmt">(2) Reasonable adjustments - RAST case management</caption>
 <thead class="govuk-table__head">
 <tr class="govuk-table__row">
 <th scope="col" class="govuk-table__header column-width-40">Event</th>
 <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
 <th scope="col" class="govuk-table__header">Status</th>
 <th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
 </tr>
 </thead>
 <tbody class="govuk-table__body">

 <tr class="govuk-table__row">
 <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-ra-dash-7b67361d8c62.herokuapp.com/home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">RAST team dashboard for reasonable adjustment requests</a><br>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary" style="color:#5d6062">
      <span class="govuk-details__summary-text" style="font-size:0.9em">
        Notes
      </span>
    </summary>
    <div class="govuk-details__text">
      See <a href="https://csj-ra-dash-7b67361d8c62.herokuapp.com/design-notes" target="_blank">design notes</a>.<br><br>
      Click on 'Open cases' and then 'Carolyn Hall' to access case notes.
      </div>
    </details><br>
   
  </td>


  <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
    <strong class="govuk-tag govuk-tag--orange">
      RECRUITER
    </strong>
  </td>
  <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
    <strong class="govuk-tag">
      TESTED
    </strong>
  </td>
  <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
    See <a href="https://csj-ra-dash-7b67361d8c62.herokuapp.com/design-notes" target="_blank">'What we found'</td>
  </tr>
  </table>
  </div>

  <div class="container">
  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m" id="candidate-portal">(3) Candidate portal - variations</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
  <th scope="col" class="govuk-table__header column-width-40">Event</th>
  <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
  <th scope="col" class="govuk-table__header">Status</th>
  <th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">

  <tr class="govuk-table__row">
  <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/portal-reasonable-adjustments" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">V3 - latest version</a><br>
   <details class="govuk-details" data-module="govuk-details">
     <summary class="govuk-details__summary" style="color:#5d6062">
       <span class="govuk-details__summary-text" style="font-size:0.9em">
         Notes
       </span>
     </summary>
     <div class="govuk-details__text">
       See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv3" target="_blank">design notes
       </div>
     </details><br>
     
   </td>


   <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
     <strong class="govuk-tag govuk-tag--purple">
       CANDIDATE
     </strong>
   </td>
   <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
     <strong class="govuk-tag">
       TESTED
     </strong>
   </td>
   <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
     See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv3" target="_blank">'What we found'</td>
   </tr>
   <tr class="govuk-table__row">
   <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/portal-pec" style="font-size:1.2em" target="_blank">V2 - PEC in progress</a><br>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary" style="color:#5d6062">
        <span class="govuk-details__summary-text" style="font-size:0.9em">
          Notes
        </span>
      </summary>
      <div class="govuk-details__text">
        See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv2" target="_blank">design notes
        </div>
      </details><br>
     
    </td>


    <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
      <strong class="govuk-tag govuk-tag--purple">
        CANDIDATE
      </strong>
    </td>
    <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
      <strong class="govuk-tag">
        TESTED
      </strong>
    </td>
    <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
      See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv2" target="_blank">'What we found'</td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/portal-reserve-list" style="font-size:1.2em" target="_blank">V2 - reserve list offer</a><br>
     <details class="govuk-details" data-module="govuk-details">
       <summary class="govuk-details__summary" style="color:#5d6062">
         <span class="govuk-details__summary-text" style="font-size:0.9em">
           Notes
         </span>
       </summary>
       <div class="govuk-details__text">
         See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv2" target="_blank">design notes
         </div>
       </details><br>
       
     </td>


     <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
       <strong class="govuk-tag govuk-tag--purple">
         CANDIDATE
       </strong>
     </td>
     <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
       <strong class="govuk-tag">
         TESTED
       </strong>
     </td>
     <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
       See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv2" target="_blank">'What we found'</td>
     </tr>
     <tr class="govuk-table__row">
     <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csj-candidate-experience.herokuapp.com/portal-interview" style="font-size:1.2em" target="_blank">V2 - interview offer</a><br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" style="color:#5d6062">
          <span class="govuk-details__summary-text" style="font-size:0.9em">
            Notes
          </span>
        </summary>
        <div class="govuk-details__text">
          See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv2" target="_blank">design notes
          </div>
        </details><br>
       
      </td>


      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        <strong class="govuk-tag govuk-tag--purple">
          CANDIDATE
        </strong>
      </td>
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        <strong class="govuk-tag">
          TESTED
        </strong>
      </td>
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        See <a href="https://csj-candidate-experience.herokuapp.com/design-notes#portalv2" target="_blank">'What we found'</td>
      </tr>
   </table>
   </div>

   <div class="container">
   <table class="govuk-table">
   <caption class="govuk-table__caption govuk-table__caption--m" id="bulk-recruitment">(4) Bulk recruitment</caption>
   <thead class="govuk-table__head">
   <tr class="govuk-table__row">
   <th scope="col" class="govuk-table__header column-width-40">Event</th>
   <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
   <th scope="col" class="govuk-table__header">Status</th>
   <th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
   </tr>
   </thead>
   <tbody class="govuk-table__body">

     <tr class="govuk-table__row">
     <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/task-list-new-campaign-initial-sift" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">V4 - pre-sift</a><br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" style="color:#5d6062">
          <span class="govuk-details__summary-text" style="font-size:0.9em">
            Notes
          </span>
        </summary>
        <div class="govuk-details__text">
          See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes" target="_blank">design notes
          </div>
        </details><br>
       
      </td>


      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        <strong class="govuk-tag govuk-tag--green">
          VACANCY HOLDER
        </strong>
      </td>
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        <strong class="govuk-tag">
          TESTED
        </strong>
      </td>
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes#bulkv3" target="_blank">'What we found'</td>
      </tr><tr class="govuk-table__row">
     <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/vacancy-management-dashboard/campaigns" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">V3 - dashboard and add sift panels</a><br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" style="color:#5d6062">
          <span class="govuk-details__summary-text" style="font-size:0.9em">
            Notes
          </span>
        </summary>
        <div class="govuk-details__text">
          See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes" target="_blank">design notes
          </div>
        </details><br>
     
      </td>
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        <strong class="govuk-tag govuk-tag--green">
          VACANCY HOLDER
        </strong>
      </td>
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        <strong class="govuk-tag">
          TESTED
        </strong>
      </td>
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
        See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes#bulkv3" target="_blank">'What we found'</td>
      </tr>

   <tr class="govuk-table__row">
   <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/task-list-new-campaign" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">V2 - multiple job types and improvements</a><br>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary" style="color:#5d6062">
        <span class="govuk-details__summary-text" style="font-size:0.9em">
          Notes
        </span>
      </summary>
      <div class="govuk-details__text">
        See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes" target="_blank">design notes
        </div>
      </details><br>
    </td>
    <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
      <strong class="govuk-tag govuk-tag--green">
        VACANCY HOLDER
      </strong>
    </td>
    <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
      <strong class="govuk-tag">
        TESTED
      </strong>
    </td>
    <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
      See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes#bulkv2" target="_blank">'What we found'</td>
    </tr>
    </table>
    </div>
    <div class="container">
    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m" id="ad-only-jao">(5) Advert only / JAO</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header column-width-40">Event</th>
    <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
    <th scope="col" class="govuk-table__header">Status</th>
    <th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/ad-only/dashboard-a" style="font-size:1.2em">V2 - A version test and integrated JAO</a><br>
        <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/ad-only/dashboard-b" style="font-size:1.2em">V2 - B version test and integrated JAO</a><br>
        <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/ad-only/dashboard-c" style="font-size:1.2em">V2 - C version test and integrated JAO</a><br>
       <details class="govuk-details" data-module="govuk-details">
         <summary class="govuk-details__summary" style="color:#5d6062">
           <span class="govuk-details__summary-text" style="font-size:0.9em">
             Notes
           </span>
         </summary>
         <div class="govuk-details__text">
           See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes" target="_blank">design notes
           </div>
         </details><br>
       </td>
       <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
         <strong class="govuk-tag govuk-tag--green">
           VACANCY HOLDER
         </strong>
       </td>
       <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
         <strong class="govuk-tag">
           TESTED
         </strong>
       </td>
       <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
         See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes#ad-onlyv2" target="_blank">'What we found'</td>
       </tr><tr class="govuk-table__row">
      <td class="govuk-table__cell filterDiv vh show filterDiv vh show"><a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/previous-versions/ad-only/dashboard" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">V1 - amended journey for ad-only / initial JAO demo</a><br>
       <details class="govuk-details" data-module="govuk-details">
         <summary class="govuk-details__summary" style="color:#5d6062">
           <span class="govuk-details__summary-text" style="font-size:0.9em">
             Notes
           </span>
         </summary>
         <div class="govuk-details__text">
           See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes" target="_blank">design notes
           </div>
         </details><br>
         </td>
       <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
         <strong class="govuk-tag govuk-tag--green">
           VACANCY HOLDER
         </strong>
       </td>
       <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
         <strong class="govuk-tag">
           TESTED
         </strong>
       </td>
       <td class="govuk-table__cell filterDiv vh show filterDiv vh show">
         See <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/design-notes#ad-onlyv1" target="_blank">'What we found'</td>
       </tr>
     </table>
     </div>
</div>



<!--  ----------------------------------------------------------->




<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="user-journeys" style="background-color:#ffffff;">
  <h2 class="govuk-heading-l">User journeys</h2>

  <h2 class="govuk-heading-m">Proposed future journey storyboard (PDF)</h2>
  <a href="public/documents/Proposed_Future_Journey_Storyboard.pdf" target="_blank">Proposed future journey storyboard</a><br><br><br>

  <h2 class="govuk-heading-m">Individual user journeys (PDFs)</h2>
  <a href="public/documents/Amisha.pdf" target="_blank">Amisha - a frequent vacancy holder with extensive experience of recruitment</a><br><br>
  <a href="public/documents/Sumayyah.pdf" target="_blank">Sumayyah - an infrequent vacancy holder with limited recruitment expertise</a><br><br>
  <a href="public/documents/Sam.pdf" target="_blank">Sam - a panel member helping sift and interview candidates for a particular role</a><br><br><br>

  <a href="public/documents/Bonnie.pdf" target="_blank">Bonnie - a candidate who is already a Civil Servant, and who needs reasonable adjustments during the application process</a><br><br>
  <a href="public/documents/Greg.pdf" target="_blank">Greg - a candidate who is applying to join the Civil Service</a><br><br>
  <a href="public/documents/Jane.pdf" target="_blank">Jane - a candidate who has been placed on a Reserve List</a><br><br><br>

  <a href="public/documents/Ayse.pdf" target="_blank">Ayse - a member of the GRS PEC Team who processes pre-employment checks</a><br><br>
</div>
</div>
</div>

{% endblock %}
