{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigationClasses:"nav-right",
    navigation: [
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}


<style>

.govuk-footer__meta {
  margin-left:10px;
  margin-right:10px;
}
.govuk-width-container {
  margin-left:0px;
  margin-right:0px;
  max-width:100%;
}

.govuk-header__content {
    padding-left: 165px;
}




.beta-banner {
    background-color: #d6e8f2;
    padding: 5px 20px 5px 20px;
}

.govuk-template__body {
  background-color: #f3f3f3;
}

.govuk-main-wrapper {
  padding:0px;
}

.introduction-page {
    margin-top: 50px;
    margin-bottom: 35px;
    padding: 50px 36px;
}
.introduction-page {
    width: calc(100% - 144px);
}
.introduction-page {
    max-width: 780px;
    margin: 0 auto;
    background: #fff;
    margin-bottom:50px
}
.dash-element {
    padding: 20px 20px;
}

.dash-element-left {
  margin:50px 0px 0px 30px;
}

.govuk-header__logo {
  margin-left:30px;
  width:30%;
}

.nav-right{
  float:right;
}



</style>


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="introduction-page dash-element dash-element-left" style="max-width:100%;margin-top:0px">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#1a81d966">
            <h2 class="govuk-summary-card__title" style="font-size:24px">Lisa Smith</h2>
          </div><br>

          <details class="govuk-details" data-module="govuk-details" style="margin-bottom:0px">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Your details
              </span>
            </summary>


                      <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:50%">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key" style="width:40%">
                            Sign in email
                          </dt>
                          <dd class="govuk-summary-list__value">
                            lsmith@yahoo.com
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key" style="width:40%">
                            Sign in password
                          </dt>
                          <dd class="govuk-summary-list__value">
                            *********
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                          </dd>
                        </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width:40%">
                          Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Deborah Lisa Smith
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row" >
                        <dt class="govuk-summary-list__key">
                          Preferred name
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Lisa Smith
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row" >
                        <dt class="govuk-summary-list__key">
                          Nationality
                        </dt>
                        <dd class="govuk-summary-list__value">
                          British
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row" >
                        <dt class="govuk-summary-list__key">
                          Preferred language
                        </dt>
                        <dd class="govuk-summary-list__value">
                          English
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row" >
                        <dt class="govuk-summary-list__key">
                          Refer to me as
                        </dt>
                        <dd class="govuk-summary-list__value">
                          She / Her
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row" >
                        <dt class="govuk-summary-list__key">
                          Contact me
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body" >By email</p>
                          <p class="govuk-body" >lsmith@yahoo.com</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          I'm already a Civil Servant
                        </dt>
                        <dd class="govuk-summary-list__value">
                          No
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row" style="border-bottom:none;">
                        <dt class="govuk-summary-list__key">
                          Adjustments and support when applying
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <a class="govuk-link" href="reasonable-adjustments/adjustments-support-home-saved">
                            See details<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                        <dd class="govuk-summary-list__actions">

                        </dd>
                      </div>
                    </dl>
          </details>

      </div>
      </div>
    </div>



      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dash-element-left" style="margin-right:70px">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="introduction-page dash-element dash-element-left" style="max-width:100%;background-color: #f3f3f3; margin-top:0px;">
      <h1 class="govuk-heading-l" style="margin-bottom:0px; margin-left:30px;">Search for a job</h1>
      <div class="govuk-grid-column-three-quarters" style="min-height:150px;max-height:160px">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body-m govuk-!-margin-top-3 govuk-!-margin-bottom-2"><strong>What</strong></p>
          {{ govukInput({
            label: {
              text: 'Enter job title, skill or keywords'
            },
            id: "searchwhat",
            name: "searchwhat",
            value: data['searchwhat'],
            classes: "govuk-input--width-25",
            autocomplete: "search-term-input"
          }) }}
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body-m govuk-!-margin-top-3 govuk-!-margin-bottom-2"><strong>Where</strong></p>
          {{ govukInput({
            label: {
              text: 'Enter a postcode, town or region'
            },
            id: "searchwhere",
            name: "searchwhere",
            value: data['searchwhere'],
            classes: "govuk-input--width-25",
            autocomplete: "location-search-input"
          }) }}
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-3"  style="position:relative;min-height:150px;max-height:160px">
        <div class="govuk-grid-column-full"  style="position:absolute;bottom:0">
          <form action="portal-gds-search-results" method="post" novalidate>
          <button class="govuk-button" style="max-width:92%;min-width:70%" data-module="govuk-button">Search</button>
          </form>
        </div>
      </div>
      </div></div></div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dash-element-left" style="margin-right:70px; margin-top:0px">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half" style="padding:0 0 0 15px">
          <div class="introduction-page dash-element dash-element-left">
            <div class="govuk-summary-card__title-wrapper"  style="background-color:#c1cdcd">
              <h2 class="govuk-summary-card__title">Your applications</h2>
            </div>


            <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%"><br>




              <h2 class="govuk-summary-card__title">Current applications:</h2>


              <div class="govuk-summary-list__row" style="border:none">

                <dd class="govuk-summary-list__value" style="padding-right:0px; padding-left:20px;">
                  <a class="govuk-link govuk-link--no-visited-state" href="#"  style="font-weight:bold;font-size:22px;">Agile Lead</a><span style="font-weight:bold;font-size:18px;margin-left:20px">HMRC</span><br>
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align:left;">
                  <strong class="govuk-tag">
                    Interview in 2 days
                  </strong>
                </dd>

              </div>
              <div class="govuk-summary-list__row">

                <dd class="govuk-summary-list__value" style="padding-right:0px;padding-bottom:30px;padding-left:20px;">
                  <a class="govuk-link govuk-link--no-visited-state" href="dwp-application-home-pec?searchwhat=Delivery Manager&dept=DWP"  style="font-weight:bold;font-size:22px;">Delivery Manager</a><span style="font-weight:bold;font-size:18px;margin-left:20px">DWP</span><br>
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align:left;">
                  <strong class="govuk-tag govuk-tag--blue">
                    Pre-employment checks - in progress
                  </strong>
                </dd>

              </div>
              <br>
              <h2 class="govuk-summary-card__title">Not submitted yet:</h2>
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value"  style="padding-right:0px; padding-bottom:30px;padding-left:20px;">
                  <a class="govuk-link govuk-link--no-visited-state" href="#"  style="font-size:22px;font-weight:bold;">Project Lead</a><span style="font-weight:bold;font-size:18px;margin-left:20px">Defra</span><br>
                </dd>
                <dd class="govuk-summary-list__actions" style="text-align:left;">
                  <strong class="govuk-tag govuk-tag--red" style=" background-color:#d4351c; color:#ffffff">
                    Deadline in 2 days
                  </strong>
                </dd>

              </div><br>
              <h2 class="govuk-summary-card__title">Previous applications:</h2>

            </dl>
            <br>

            <a href="#" class="govuk-link govuk-link--no-visited-state"  style="margin-left:50px; font-size: 1.1875rem;">See previous applications</a><br>
        </div>



                  <div class="introduction-page dash-element dash-element-left">
                    <div class="govuk-summary-card__title-wrapper" style="background-color:#c1cdcd">
                      <h2 class="govuk-summary-card__title">Saved jobs</h2>
                    </div>
                    <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value"  style="width:30%"">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">Admin Manager</a><span style="margin-left:20px;">Home Office</span>
                        </dd>
                        <dd class="govuk-summary-list__actions" >
                          Closes 28 June 2023
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value"  style="width:30%"">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">Digital Delivery Manager</a><span style="margin-left:20px;">HMRC</span>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          Closes 19 May 2023
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value"  style="width:30%"">
                          <a class="govuk-link govuk-link--no-visited-state" href="#"  >Service Designer</a><span style="margin-left:20px;">DWP</span>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          Closes 30 May 2023
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row" style="border-bottom:none">
                        <dd class="govuk-summary-list__value"  style="width:30%"">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">Technical Architect</a><span style="margin-left:20px;">Dept for Education</span>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          Closes 8 July 2023
                        </dd>
                      </div><br><br>

                      <a href="portal-gds-manage-saved-jobs" class="govuk-link govuk-link--no-visited-state"  style="font-size: 1.1875rem;">Manage your saved jobs</a><br>

                    </dl>
                </div>


        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#c1cdcd">
            <h2 class="govuk-summary-card__title">Job alerts</h2>
          </div>
          <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
            <div class="govuk-summary-list__row" style="border-bottom:none">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="#"  >Admin Manager</a><span style="margin-left:20px;">Defra</span><span id="notifications" class="moj-notification-badge" style="font-size:12px;border-radius:0px; padding:2px; margin-left:10px;background-color: #ffffff;border-color:#000000; color:#000000; font-weight:bold">NEW</span>
              </dd>
              <dd class="govuk-summary-list__actions">
                Closes 28 June 2023
              </dd>
            </div>
          <br><br>
            <a href="#" class="govuk-link govuk-link--no-visited-state"  style="font-size: 1.1875rem;">Manage your job alerts</a><br>

          </dl>
      </div>




        </div>
        <div class="govuk-grid-column-one-half" style="padding:0px 0px 0px 0px">

          <div class="introduction-page dash-element dash-element-left">
            <div class="govuk-summary-card__title-wrapper" style="background-color:#c1cdcd">
              <h2 class="govuk-summary-card__title">Reuse your information</h2>
            </div>
          <div class="govuk-inset-text" style="padding-top:10px;margin-left:30px">
            You can reuse the following info you've already given us in your next application.
          </div>
          <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="personal-statement-2">Personal statement</a>
              </dd>
              <dd class="govuk-summary-list__actions" >
                Last changed 3 May 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv"  >CV</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 19 May 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv"  >Technical skills</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 19 May 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv"  >Answers to Behaviour questions</a>
              </dd>
              <dd class="govuk-summary-list__actions" >
                Last changed 27 Apr 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv"  >Personal information</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 3 May 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv"  >Work preferences</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 19 May 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv"  >Answers to Diversity and Inclusion questionnaire</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 6 Apr 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv"  >Answers to Social Mobility questionnaire</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 5 Oct 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value" style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="cv">CV</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 5 Oct 2023
              </dd>
            </div>

            <div class="govuk-summary-list__row" style="border-bottom:none">
              <dd class="govuk-summary-list__value"  style="width:30%"">
                <a class="govuk-link govuk-link--no-visited-state" href="reasonable-adjustments/adjustments-support-home-saved"  >Adjustments and support when applying</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                Last changed 5 Oct 2023
              </dd>
            </div>

            <br><br>
            <a href="portal-gds-manage-saved-jobs" class="govuk-link govuk-link--no-visited-state"  style="font-size: 1.1875rem;">Manage the info you can reuse</a><br>

          </dl>

        </div>












        </div>

    </div><br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="introduction-page dash-element dash-element-left" style="max-width:100%;background-color: #f3f3f3; margin-top:0px;">



          <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
            <p style="font-size:1.7vw; font-weight:bold; margin-bottom:10px">Preparing for your interview</p>
            <img src="../../public/images/get-assessed.jpeg" style="max-width:100%;object-fit:cover" alt="">
            <p style="font-size:1.2vw;">Our advice on how to prepare for your interview in 3 days.</p>
            <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em;">Find out more</a>
          </div>
          <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
            <p style="font-size:1.7vw; font-weight:bold; margin-bottom:10px">Adjustments and support</p>
            <img src="../../public/images/reuse.png" style="max-width:100%;" alt="">
            <p style="font-size:1.2vw;">Find out about adjustments and support during your application process.</p>
            <a href="reasonable-adjustments/adjustments-support-home-saved?ra-info=show" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em;">Find out more</a>
          </div>

          <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
            <p style="font-size:1.7vw; font-weight:bold; margin-bottom:10px">Reusing info from applications</p>
            <img src="../../public/images/manage-job-alerts.jpeg" style="max-width:100%;" alt="">
            <p style="font-size:1.2vw;">How to reuse something you've already told us, so you save time and effort.</p>
            <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em;">Find out more</a>
          </div>


      </div></div></div>




    </div><br><br><br>



{% endblock %}
